<div class="container mx-auto p-6 mb-16">
    <app-matches-create></app-matches-create>

    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-4 gap-4 mt-8">
        <div *ngFor="let match of matchesResult" 
            class="bg-white shadow-md rounded-xl p-6 border border-gray-300">

            <div class="flex justify-between items-center border-b pb-3 mb-3">
                <div class="flex flex-col">
                    <h2 class="text-gray-800">{{ match.firstPairPlayer1 }}</h2>
                    <h2 class="text-gray-800">{{ match.firstPairPlayer2 }}</h2>
                </div>
                <div class="flex space-x-4">
                    <p class="w-12 text-center text-gray-700">
                        {{ match.setResults[0].firstPairResult }}
                    </p>
                    <p class="w-12 text-center text-gray-700">
                        {{ match.setResults[1].firstPairResult }}
                    </p>
                    <p *ngIf="match.setResults[2]" class="w-12 text-center text-gray-700">
                        {{ match.setResults[2].firstPairResult }}
                    </p>
                </div>
            </div>

            <div class="flex justify-between items-center">
                <div class="flex flex-col">
                    <h2 class="text-lg text-gray-800">{{ match.secondPairPlayer1 }}</h2>
                    <h2 class="text-lg text-gray-800">{{ match.secondPairPlayer2 }}</h2>
                </div>
                <div class="flex space-x-4">
                    <p class="w-12 text-center text-lg text-gray-700">
                        {{ match.setResults[0].secondPairResult }}
                    </p>
                    <p class="w-12 text-center text-lg text-gray-700">
                        {{ match.setResults[1].secondPairResult }}
                    </p>
                    <p *ngIf="match.setResults[2]" class="w-12 text-center text-lg text-gray-700">
                        {{ match.setResults[2].secondPairResult }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
